{% extends "base.html" %}
{% block content %}

<div class="row">
	<span>
	<br>
	Hello, my name is Thomas Hepner. Welcome to my web page for the final project in the Introduction to Programming Nanodegree (IPND) by Udacity!
	</span>

	<span><br> The IPND is my first Nanodegree on Udacity, but I also plan on enrolling and completing the 
	<a href = "https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004"> Full Stack Web Developer Nanodegree </a>
	in the upcoming months. I am also working on several Coursera certificate programs: 
	</span>

	<span>
	<ol>
		<li> <a href = "https://www.coursera.org/specializations/jhudatascience"> Data Science </a> </li>
		<li> <a href = "https://www.coursera.org/specializations/machine-learning"> Machine Learning </a> </li>
		<li> <a href = "https://www.coursera.org/specializations/java-programming"> Java Programming: An Introduction to Software </a> </li>
		<li> <a href = "https://www.coursera.org/specializations/java-object-oriented"> Java Programming: Object-Oriented Design of Data Stuctures. </a> </li>
	</ol>
	</span>

	I want to use this rest of this page to tell you a little about myself...

	<span><br> After working for a year and a half as a Financial Analyst on the Kindle Content team at
	<a href = "http://www.amazon.com/"> Amazon </a> in Seattle, I decided to pursue further education to transition to a career in data science, and eventually my ulimate goal of entrepreneurship. Over the next 12 months, I will be focusing on becoming a data scientist by taking certificate and nanodegree programs on Coursera and Udacity. I will also gain experience solving real-world problems by participating in independent projects and competitions like those hosted on 
	<a href = "https://www.kaggle.com/"> Kaggle </a> and <a href = "https://www.crowdanalytix.com/"> CrowdAnalytix. </a><br><br>
	</span>

	<span>
	I earned my bachelor's degree in Economics at the University of Washington. While attending, I lead a student-run investment club, Husky Traders. I was also an active participant in a philosophy club, An Objective University of Washington, and am obsessed with politics, philosophy, and driven by the hope that technology has the ability to take us forever foreward. 
	<br><br>
	I hope to influence society through my achievements and ideas. 
	<br><br>
	-Thomas
	</span>

</div>

{% endblock %}
